<div class="row">
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-6/12"
  >
    <!-- Total Sales -->
    <app-total-sales />
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-3/12"
  >
    <div class="row">
      <div class="col-md-6 lg:flex-grow-0 lg:flex-shrink-0 lg:w-full">
        <!-- Total Orders -->
        <app-total-orders />
      </div>
      <div class="col-md-6 lg:flex-grow-0 lg:flex-shrink-0 lg:w-full">
        <!-- Total Customers -->
        <app-total-customers />
      </div>
    </div>
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-full 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-3/12"
  >
    <div class="row">
      <div class="col-md-6 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-full">
        <!-- Total Revenue -->
        <app-total-revenue />
      </div>
      <div class="col-md-6 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-full">
        <!-- Sales Overview -->
        <app-sales-overview />
      </div>
    </div>
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-3/12"
  >
    <div class="row">
      <div
        class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-full 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-full"
      >
        <!-- Profit -->
        <app-profit />
      </div>
      <div
        class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-full 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-full"
      >
        <!-- Best Seller Of The Month -->
        <app-best-seller-of-the-month />
      </div>
    </div>
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-3/12"
  >
    <div class="row">
      <div
        class="col-md-6 lg:flex-grow-0 lg:flex-shrink-0 lg:w-full 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-full"
      >
        <!-- Average Daily Sales -->
        <app-average-daily-sales />
      </div>
      <div
        class="col-md-6 lg:flex-grow-0 lg:flex-shrink-0 lg:w-full 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-full"
      >
        <!-- New Customers This Month -->
        <app-new-customers-this-month />
      </div>
    </div>
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-full 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-6/12"
  >
    <!-- Top Selling Products -->
    <app-top-selling-products />
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-4/12"
  >
    <!-- Orders Summary -->
    <app-order-summary />
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-4/12"
  >
    <!-- Top Sellers -->
    <app-top-sellers />
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-full 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-4/12"
  >
    <div class="row">
      <div
        class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-full"
      >
        <!-- Top Sales Locations -->
        <app-top-sales-locations />
      </div>
      <div
        class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-full"
      >
        <!-- Revenue -->
        <app-revenue />
      </div>
    </div>
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-full 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-8/12"
  >
    <!-- Recent Orders -->
    <app-recent-orders />
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-full 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-4/12"
  >
    <!-- Transactions History -->
    <app-transactions-history />
  </div>
</div>
