<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 md:flex items-center justify-between">
  <h5 class="mb-0">More Charts</h5>
  <ol class="breadcrumb list-none mt-0 mb-0 pl-0">
    <li class="breadcrumb-item relative">
      <a routerLink="/" class=".inline-block relative">
        <i class="ri-home-8-line"></i>
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item relative">Apexcharts</li>
    <li class="breadcrumb-item relative">More Charts</li>
  </ol>
</div>

<!-- Polar Charts -->
<div class="row">
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2">
    <!-- Basic Range Area Chart -->
    <app-basic-range-area-chart />
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2">
    <!-- Basic Timeline Chart -->
    <app-basic-timeline-chart />
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2">
    <!-- Basic Candlestick Chart -->
    <app-basic-candlestick-chart />
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2">
    <!-- Basic Boxplot Chart -->
    <app-basic-boxplot-chart />
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2">
    <!-- Basic Bubble Chart -->
    <app-basic-bubble-chart />
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2">
    <!-- Basic Scatter Chart -->
    <app-basic-scatter-chart />
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2">
    <!-- Basic Heatmap Chart -->
    <app-basic-heatmap-chart />
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2">
    <!-- Basic Treemap Chart -->
    <app-basic-treemap-chart />
  </div>
</div>
