<div class="row">
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-full 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-6/12"
  >
    <!-- Projects Overview -->
    <app-projects-overview />
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-full 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-6/12"
  >
    <!-- Projects Roadmap -->
    <app-projects-roadmap />
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-4/6 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-9/12"
  >
    <!-- All Projects -->
    <app-all-projects />
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-4/12 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-3/12"
  >
    <!-- Projects Progress -->
    <app-projects-progress />
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-4/12">
    <!-- Working Schedule -->
    <app-working-schedule />
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-4/6">
    <div class="row">
      <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2">
        <!-- Projects Analysis -->
        <app-projects-analysis />
      </div>
      <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2">
        <!-- Chat Project User -->
        <app-chat-projects-user />
      </div>
      <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-full">
        <!-- To Do List -->
        <app-to-do-list />
      </div>
    </div>
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-4/6">
    <!-- Active Project -->
    <app-active-project />
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-4/12">
    <!-- Team Members -->
    <app-team-members />
  </div>
</div>
