<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 flex items-center justify-between">
  <h5 class="my-0">Line Charts</h5>
  <ol class="breadcrumb list-none my-0 mb-0 px-0">
    <li class="breadcrumb-item relative">
      <a routerLink="/" class="d-inline-block relative">
        <i class="ri-home-8-line"></i>
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item relative">Apexcharts</li>
    <li class="breadcrumb-item relative">Line Charts</li>
  </ol>
</div>

<!-- Line Charts -->
<div class="row">
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Basic Line Chart -->
    <app-basic-line-chart />
  </div>
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Zoomable Line Chart -->
    <app-zoomable-line-chart />
  </div>
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Gradient Line Chart -->
    <app-gradient-line-chart />
  </div>
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Dashed Line Chart -->
    <app-dashed-line-chart />
  </div>
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Stepline Line Chart -->
    <app-stepline-line-chart />
  </div>
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Brush Line Chart -->
    <app-brush-line-chart />
  </div>
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Syncing Line Chart -->
    <app-syncing-line-chart />
  </div>
</div>
