<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 md: flex items-center justify-between">
  <h5 class="mb-0">Avatars</h5>
  <ol class="breadcrumb list-none mt-0 mb-0 pl-0">
    <li class="breadcrumb-item relative">
      <a routerLink="/" class=".inline-block relative">
        <i class="ri-home-8-line"></i>
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item relative">UI Elements</li>
    <li class="breadcrumb-item relative">Avatars</li>
  </ol>
</div>

<!-- Avatars -->
<div class="row">
  <div class="col-xxl-6">
    <mat-card class="daxa-card mb-25 rounded-xl bg-white border-none block">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">Image Size Rounded-Circle</h5>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="md: flexitems-center">
          <img
            src="images/admin.png"
            width="130"
            height="130"
            class="rounded-circle"
            alt="admin-image"
          />
          <img
            src="images/admin.png"
            width="110"
            height="110"
            class="rounded-circle"
            alt="admin-image"
          />
          <img
            src="images/admin.png"
            width="90"
            height="90"
            class="rounded-circle"
            alt="admin-image"
          />
          <img
            src="images/admin.png"
            width="70"
            height="70"
            class="rounded-circle"
            alt="admin-image"
          />
          <img
            src="images/admin.png"
            width="50"
            height="50"
            class="rounded-circle"
            alt="admin-image"
          />
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-xxl-6">
    <mat-card class="daxa-card mb-25 rounded-xl bg-white border-none block">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">Image Size Square-Circle</h5>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="md: flexitems-center">
          <img
            src="images/blue-man.jpg"
            width="130"
            height="130"
            class="rounded-xl"
            alt="admin-image"
          />
          <img
            src="images/blue-man.jpg"
            width="110"
            height="110"
            class="rounded-xl"
            alt="admin-image"
          />
          <img
            src="images/blue-man.jpg"
            width="90"
            height="90"
            class="rounded-xl"
            alt="admin-image"
          />
          <img
            src="images/blue-man.jpg"
            width="70"
            height="70"
            class="rounded-xl"
            alt="admin-image"
          />
          <img
            src="images/blue-man.jpg"
            width="50"
            height="50"
            class="rounded-xl"
            alt="admin-image"
          />
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-xxl-6">
    <mat-card class="daxa-card mb-25 rounded-xl bg-white border-none block">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">Avatar Size Rounded-Circle</h5>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="md: flexitems-center">
          <div
            class="rounded-circle justify-center bg-gray items-center flex font-bold text-2xl text-daxa text-center w-32 h-32"
          >
            Ab
          </div>
          <div
            class="rounded-circle justify-center bg-gray items-center flex font-bold text-xl text-daxa text-center w-28 h-28"
          >
            Ab
          </div>
          <div
            class="rounded-circle justify-center bg-gray items-center flex font-bold text-lg text-daxa text-center w-24 h-24"
          >
            Ab
          </div>
          <div
            class="rounded-circle justify-center bg-gray items-center flex font-bold text-lg text-daxa text-center w-16 h-16"
          >
            Ab
          </div>
          <div
            class="rounded-circle justify-center bg-gray items-center flex font-bold text-daxa text-center w-12 h-12"
          >
            Ab
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-xxl-6">
    <mat-card class="daxa-card mb-25 rounded-xl bg-white border-none block">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">Avatar Size Square-Circle</h5>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="md: flexitems-center">
          <div
            class="rounded-xl justify-center bg-gray items-center flex font-bold text-2xl text-daxa text-center w-32 h-32"
          >
            Ab
          </div>
          <div
            class="rounded-xl justify-center bg-gray items-center flex font-bold text-xl text-daxa text-center w-28 h-28"
          >
            Ab
          </div>
          <div
            class="rounded-xl justify-center bg-gray items-center flex font-bold text-lg text-daxa text-center w-24 h-24"
          >
            Ab
          </div>
          <div
            class="rounded-xl justify-center bg-gray items-center flex font-bold text-lg text-daxa text-center w-16 h-16"
          >
            Ab
          </div>
          <div
            class="rounded-xl justify-center bg-gray items-center flex font-bold text-daxa text-center w-12 h-12"
          >
            Ab
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
