<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 md:flex items-center justify-between">
  <h5 class="mb-0">Projects Overview</h5>
  <ol class="breadcrumb list-none mt-0 mb-0 pl-0">
    <li class="breadcrumb-item relative">
      <a routerLink="/" class=".inline-block relative">
        <i class="ri-home-8-line"></i>
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item relative">Project Management</li>
    <li class="breadcrumb-item relative">Projects Overview</li>
  </ol>
</div>

<div class="row">
  <div class="3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-6/12">
    <div class="row">
      <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-full">
        <!-- Product Development -->
        <app-product-development />
      </div>
      <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-full">
        <!-- Project Discussion -->
        <app-project-discussion />
      </div>
    </div>
  </div>
  <div class="3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-6/12">
    <div class="row">
      <div
        class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-full"
      >
        <!-- Team Members -->
        <app-team-members />
      </div>
      <div
        class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-full"
      >
        <!-- Projects Roadmap -->
        <app-projects-roadmap />
      </div>
      <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-full">
        <!-- Running Projects -->
        <app-running-projects />
      </div>
    </div>
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-4/6">
    <!-- To Do List -->
    <app-to-do-list />
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-4/12">
    <!-- Projects Progress -->
    <app-projects-progress />
  </div>
</div>
