<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 md:flex items-center justify-between">
  <h5 class="mb-0">RadialBar Charts</h5>
  <ol class="breadcrumb list-none mt-0 mb-0 pl-0">
    <li class="breadcrumb-item relative">
      <a routerLink="/" class=".inline-block relative">
        <i class="ri-home-8-line"></i>
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item relative">Apexcharts</li>
    <li class="breadcrumb-item relative">RadialBar Charts</li>
  </ol>
</div>

<!-- RadialBar Charts -->
<div class="row">
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-4/12"
  >
    <!-- Basic RadialBar Chart -->
    <app-basic-radialbar-chart />
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-4/12"
  >
    <!-- Multiple RadialBar Chart -->
    <app-multiple-radialbar-chart />
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-4/12"
  >
    <!-- Custom Angle Circle RadialBar Chart -->
    <app-custom-angle-circle-radialbar-chart />
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-4/12"
  >
    <!-- Gradient RadialBar Chart -->
    <app-gradient-radialbar-chart />
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-4/12"
  >
    <!-- Strocked Circular Gauge RadialBar Chart -->
    <app-strocked-circular-gauge-radialbar-chart />
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-4/12"
  >
    <!-- Semi Circular Gauge RadialBar Chart -->
    <app-semi-circular-gauge-radialbar-chart />
  </div>
</div>
