<div class="row">
  <div class="xl:flex-grow-0 xl:flex-shrink-0 xl:w-1/2">
    <mat-form-field class="mb-5">
      <mat-label>Message</mat-label>
      <input matInput value="Disco party!" #message />
    </mat-form-field>
  </div>
  <div class="xl:flex-grow-0 xl:flex-shrink-0 xl:w-1/2">
    <mat-form-field class="mb-5">
      <mat-label>Action</mat-label>
      <input matInput value="Dance" #action />
    </mat-form-field>
  </div>
</div>

<button
  mat-flat-button
  class="daxa"
  (click)="openSnackBar(message.value, action.value)"
>
  Show Snackbar
</button>
