<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex items-center justify-between">
  <h5 class="mb-0">Grid List</h5>
  <ol class="breadcrumb list-none mt-0 mb-0 pl-0">
    <li class="breadcrumb-item relative">
      <a routerLink="/" class=".inline-block relative">
        <i class="ri-home-8-line"></i>
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item relative">UI Elements</li>
    <li class="breadcrumb-item relative">Grid List</li>
  </ol>
</div>

<!-- Basic Grid List -->
<app-basic-grid-list />

<!-- Dynamic Grid List -->
<app-dynamic-grid-list />
