<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 flex items-center justify-between">
  <h5 class="my-0">Area Charts</h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
    <li class="breadcrumb-item relative">
      <a routerLink="/" class="d-inline-block relative">
        <i class="ri-home-8-line"></i>
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item relative">Apexcharts</li>
    <li class="breadcrumb-item relative">Area Charts</li>
  </ol>
</div>

<!-- Area Charts -->
<div class="row">
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Basic Area Chart -->
    <app-basic-area-chart />
  </div>
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Spline Area Chart -->
    <app-spline-area-chart />
  </div>
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Datetime Area Chart -->
    <app-datetime-area-chart />
  </div>
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Negative Values Area Chart -->
    <app-negative-values-area-chart />
  </div>
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Stacked Area Chart -->
    <app-stacked-area-chart />
  </div>
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Missing Null Values Area Chart -->
    <app-missing-null-values-area-chart />
  </div>
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Github Style Area Chart -->
    <app-github-style-area-chart />
  </div>
</div>
