<!-- Stats -->
<app-stats />

<div class="row">
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-4/12"
  >
    <!-- Most text-xl font-lights -->
    <app-most-leads />
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-4/12"
  >
    <!-- Country Stats -->
    <app-country-stats />
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-full 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-4/12"
  >
    <div class="row">
      <div
        class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-full"
      >
        <!-- Tasks Stats -->
        <app-tasks-stats />
      </div>
      <div
        class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-full"
      >
        <!-- Earning Reports -->
        <app-earning-reports />
      </div>
    </div>
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 2xl:flex-grow-0 2xl:flex-shrink-0 2xl:w-5/12"
  >
    <!-- Top Customers -->
    <app-top-customers />
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 2xl:flex-grow-0 2xl:flex-shrink-0 2xl:w-7/12"
  >
    <!-- Recent text-xl font-lights -->
    <app-recent-leads />
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-full 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-8/12"
  >
    <!-- To Do List -->
    <app-to-do-list />
  </div>
  <div
    class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-full 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-4/12"
  >
    <div class="row">
      <div
        class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-full"
      >
        <!-- Client Payment Status -->
        <app-client-payment-status />
      </div>
      <div
        class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 3xl:flex-grow-0 3xl:flex-shrink-0 3xl:w-full"
      >
        <!-- Total text-xl font-lights -->
        <app-total-leads />
      </div>
    </div>
  </div>
</div>
