<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 flex items-center justify-center">
  <h5 class="my-0">Column Charts</h5>
  <ol class="breadcrumb list-none my-0 mb-0 px-0">
    <li class="breadcrumb-item relative">
      <a routerLink="/" class="inline-block relative">
        <i class="ri-home-8-line"></i>
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item relative">Apexcharts</li>
    <li class="breadcrumb-item relative">Column Charts</li>
  </ol>
</div>

<!-- Column Charts -->
<div class="row">
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Basic Column Chart -->
    <app-basic-column-chart />
  </div>
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Data Labels Column Chart -->
    <app-data-labels-column-chart />
  </div>
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Stacked Column Chart -->
    <app-stacked-column-chart />
  </div>
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Range Column Chart -->
    <app-range-column-chart />
  </div>
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Rotated Labels Column Chart -->
    <app-rotated-labels-column-chart />
  </div>
  <div class="lg:w-1/2 flex-grow-0 flex-shrink-0">
    <!-- Distributed Column Chart -->
    <app-distributed-column-chart />
  </div>
</div>
