<div class="row">
  <div class="col-md-6 col-xxxl-3">
    <!-- Tickets Open -->
    <app-tickets-open />
  </div>
  <div class="col-md-6 col-xxxl-3">
    <!-- Tickets In Progress -->
    <app-tickets-in-progress />
  </div>
  <div class="col-md-6 col-xxxl-3">
    <!-- Tickets Resolved -->
    <app-tickets-resolved />
  </div>
  <div class="col-md-6 col-xxxl-3">
    <!-- Tickets Closed -->
    <app-tickets-closed />
  </div>
  <div class="col-md-12 col-xxxl-6">
    <!-- New Tickets Created -->
    <app-new-tickets-created />
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 col-xxxl-3">
    <div class="row">
      <div class="col-md-6 lg:flex-grow-0 lg:flex-shrink-0 lg:w-full">
        <!-- First Response Time -->
        <app-first-response-time />
      </div>
      <div class="col-md-6 lg:flex-grow-0 lg:flex-shrink-0 lg:w-full">
        <!-- Ave Resolution Time -->
        <app-ave-resolution-time />
      </div>
    </div>
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-1/2 col-xxxl-3">
    <!-- Customer Satisfaction -->
    <app-customer-satisfaction />
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-7/12">
    <!-- SLA Monitoring -->
    <app-sla-monitoring />
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-5/12">
    <!-- Tickets Solved and Created -->
    <app-tickets-solved-and-cleated />
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-full">
    <!-- Performance of Agents -->
    <app-performance-of-agents />
  </div>
  <div class="col-md-6 col-xxxl-3">
    <!-- Tickets by Channel -->
    <app-tickets-by-channel />
  </div>
  <div class="col-md-6 col-xxxl-3">
    <!-- Tickets by Type -->
    <app-tickets-by-type />
  </div>
  <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-full col-xxxl-6">
    <!-- Recent Customer Rating -->
    <app-recent-customer-rating />
  </div>
</div>
