<mat-card
  class="daxa-card total-orders-card mb-25 rounded-xl bg-white border-none block"
>
  <mat-card-content>
    <div class="flex justify-between">
      <div class="title">
        <h5>Total Orders</h5>
        <div class="number font-medium lh-1">20,705</div>
      </div>
      <div
        class="icon text-center bg-daxa rounded-circle text-white position-relative"
      >
        <i class="material-symbols-outlined"> shopping_basket </i>
      </div>
    </div>
    <div class="info flex items-center justify-between">
      <span class="sub-title block text-body">
        4.75% increase in orders last week
      </span>
      <span class="daxa-up-down-badge position-relative">
        <i class="material-symbols-outlined"> trending_up </i>
        4.75%
      </span>
    </div>
  </mat-card-content>
</mat-card>
