<mat-card
  class="daxa-card total-instructors-card mb-25 rounded-xl bg-white border-none block"
>
  <mat-card-content>
    <div class="title">
      <h5>Total Instructors</h5>
      <div class="number font-medium lh-1">1K+</div>
    </div>
    <div
      class="icon text-center bg-primary rounded-circle text-white position-relative"
    >
      <img src="images/icons/instructor.svg" alt="instructor-icon" />
    </div>
    <div class="info flex items-center justify-between">
      <span class="sub-title block text-body"> Last Month </span>
      <span class="daxa-up-down-badge position-relative">
        <i class="material-symbols-outlined"> trending_up </i>
        50.05%
      </span>
    </div>
  </mat-card-content>
</mat-card>
