<div [class.component-dark-theme]="themeService.isDark()">
  <div class="example-listbox-container">
    <label
      class="example-listbox-label font-medium"
      id="example-language-label"
    >
      Preferred Language
    </label>
    <ul
      cdkListbox
      [formControl]="languageCtrl"
      aria-labelledby="example-language-label"
      class="example-listbox"
    >
      @for (language of languages; track language) {
        <li [cdkOption]="language" class="example-option text-body">
          {{ language }}
        </li>
      }
    </ul>
  </div>
  <p class="mt-4">
    Your preferred language:
    <strong class="font-medium text-black">{{
      languageCtrl.value | json
    }}</strong
    >&nbsp;
    <button (click)="languageCtrl.reset()">Reset</button>
  </p>
</div>
